@import "../../abstracts/functions";

.hero-section {
  position: relative;
  background: url("/images/contactHero.png") no-repeat center top / cover;
  color: white;
  height: 280px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(89.07deg, #000820 0.85%, #002186 131.51%);
    opacity: 0.85;
    z-index: 1;
  }
  
  .hero-content {
    padding-top: 3rem;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: px-to-rem(24);
      font-weight: 700;

      span {
        color: #f17006;
      }
    }

    .typing-wrapper {
      margin-top: 0.5rem;
      max-height: 100px;
      overflow-y: auto;

      p {
        font-size: px-to-rem(14);
        color: #ffffff;
        margin: 0;
        font-weight: 600;
        line-height: 1.4;
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    height: 320px;

    .hero-content {
      padding-left: 2rem;

      h1 {
        font-size: px-to-rem(28);
      }

      .typing-wrapper p {
        font-size: px-to-rem(16);
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    height: 360px;

    .hero-content {
      padding-left: 3rem;

      h1 {
        font-size: px-to-rem(32);
      }

      .typing-wrapper p {
        font-size: px-to-rem(18);
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .hero-section {
    height: 400px;

    .hero-content {
      padding-left: 5rem;

      h1 {
        font-size: px-to-rem(36);
      }

      .typing-wrapper p {
        font-size: px-to-rem(20);
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    height: 457px;

    .hero-content {
      max-width: 710px;
      padding-left: 7.5rem;

      h1 {
        font-size: px-to-rem(42);
      }

      .typing-wrapper p {
        font-size: px-to-rem(24);
      }
    }
  }
}

