.btn {
  padding: $spacing-sm $spacing-md;
  border: none;
  border-radius: 0.75rem;
  background-color: $primary-color;
  color: $default-color;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: $spacing-sm;
  font-family: "Josefin Sans", sans-serif;

  &:hover {
    background-color: darken($primary-color, 8%);
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
  }

  &-primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    width: 100%;
  }
  &-secondary {
    background-color: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
  &-menu {
    background-color: transparent;
    width: 100%;
  }
  &-icon {
    font-size: 1rem;
  }
}
