@import "../abstracts/variables";

.home-hero {
    max-width: 100vw;
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    // padding-left: 16.2rem;
    // justify-content: center;
    color: #fff;

    .backgrounds {
        position: absolute;
        inset: 0;
        z-index: 0;
        overflow: hidden;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
            rgba(10, 30, 60, 0.6),
            rgba(10, 30, 60, 0.6)
        );
        z-index: 1;
    }

    .content {
        position: relative;
        z-index: 3;
        max-width: 50%;
        // border: 2px red solid;
        // padding-left: 12rem;
        opacity: 0;
        transform: translateX(-50px);
        animation: fadeSlideDown 2s ease-in-out forwards;
        text-align: left;

        h1 {
            font-size: 64px;
            font-weight: 700;
            font-family: $font-space-grotesk;
            span {
                color: #f17006;
            }
        }

        p {
            font-size: 32px;
            font-weight: 400;
            font-family: $font-inter;
            line-height: 1.3;
            margin-top: 2.5rem;
        }

        .home-btn {
            font-family: $font-inter;
            font-weight: 700;
            font-size: 24px;
            margin-top: 2.5rem;
            padding: 13px 23px;
            background-color: #f17006;
            color: #000000;
            border: 2px solid transparent;
            border-radius: 8px;
            cursor: pointer;
            font-size: 19px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: transparent;
                border: 2px solid white;
                color: white;
                transition: all 0.3s ease;
            }
        }
    }

    // .dots {
    //   position: absolute;
    //   bottom: 25px;
    //   display: flex;
    //   gap: 10px;
    //   z-index: 3;
    //   align-items: center;
    //   left: 50%;
    //   transform: translateX(-50%);

    //   button {
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     background: rgba(255, 255, 255, 0.5);
    //     border: none;
    //     cursor: pointer;
    //     transition: all 0.3s ease;

    //     &.active {
    //       background: #fff;
    //     }
    //   }
    // }

    @keyframes fadeSlideDown {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    svg {
        position: absolute;
        right: 0;
        width: 500px;
        height: 300px;
        z-index: 2;
        pointer-events: none;

        path {
            stroke-linecap: round;
        }

        circle {
            transform: translate(-50%, -50%);
        }
    }
}

@media (max-width: 576px) {
    .home-hero {
        display: flex;
        justify-content: center;
        padding: 0;
        .content {
            max-width: 90%;
            text-align: center;
            h1 {
                font-size: 2.2rem;
            }
            p {
                font-size: 1.2rem;
            }
            .home-btn {
                font-size: 16px;
            }
        }
        svg {
            display: none;
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .home-hero {
        display: flex;
        justify-content: center;
        padding: 0;
        .content {
            max-width: 90%;
            text-align: center;
            h1 {
                font-size: 2.8rem;
            }
            p {
                font-size: 1.6rem;
            }
            .home-btn {
                font-size: 20px;
            }
        }
        svg {
            display: none;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .home-hero {
        padding: 5rem;
        .content {
            max-width: 75%;
            // text-align: center;
            h1 {
                font-size: 2.8rem;
            }
            p {
                font-size: 1.6rem;
            }
            .home-btn {
                font-size: 20px;
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .home-hero {
        padding: 5rem;
        .content {
            max-width: 65%;
            // text-align: center;
            h1 {
                font-size: 2.8rem;
            }
            p {
                font-size: 1.6rem;
            }
            .home-btn {
                font-size: 20px;
            }
        }
    }
}
@media (min-width: 1200px) {
    .home-hero {
        // border: 2px red solid;
        padding: 5rem;
        .content {
            max-width: 65%;
            // border: 2px red solid;
            h1 {
                font-size: 3.2rem;
            }
            p {
                font-size: 1.5rem;
            }
            .home-btn {
                font-size: 16px;
            }
        }
    }
}
@media (min-width: 1440px) {
    .home-hero{
        .content{
            padding: 8rem;
           
        }
    }
}
