@import "../abstracts/variables";

.home-hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;

    .backgrounds {
        position: absolute;
        inset: 0;
        z-index: 0;
        img {
            height: 100%;
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
            rgba(10, 30, 60, 0.6),
            rgba(10, 30, 60, 0.6)
        );
        z-index: 1;
    }

    .content {
        position: relative;
        z-index: 3;
        max-width: 55%;
        padding-left: 12rem;
        opacity: 0;
        transform: translateX(-50px);
        animation: fadeSlideDown 2s ease-in-out forwards;
        text-align: left;

        h1 {
            font-size: 64px;
            font-weight: 700;
            font-family: $font-space-grotesk;
            span {
                color: #f17006;
            }
        }

        p {
            font-size: 32px;
            font-weight: 400;
            font-family: $font-inter;
            line-height: 1.3;
            margin-top: 2.5rem;
        }

        .home-btn {
            font-family: $font-inter;
            font-weight: 700;
            font-size: 24px;
            margin-top: 2.5rem;
            padding: 13px 23px;
            background-color: #f17006;
            color: #fff;
            border: 2px solid transparent;
            border-radius: 8px;
            cursor: pointer;
            font-size: 19px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: transparent;
                border: 2px solid white;
                color: white;
                transition: all 0.3s ease;
            }
        }
    }

    // .dots {
    //   position: absolute;
    //   bottom: 25px;
    //   display: flex;
    //   gap: 10px;
    //   z-index: 3;
    //   align-items: center;
    //   left: 50%;
    //   transform: translateX(-50%);

    //   button {
    //     width: 10px;
    //     height: 10px;
    //     border-radius: 50%;
    //     background: rgba(255, 255, 255, 0.5);
    //     border: none;
    //     cursor: pointer;
    //     transition: all 0.3s ease;

    //     &.active {
    //       background: #fff;
    //     }
    //   }
    // }

    @keyframes fadeSlideDown {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    svg {
        position: absolute;
        // top: 50%;
        // left: 50%;
        // left: 30%;
        right: 0;
        width: 500px;
        height: 300px;
        z-index: 2;
        pointer-events: none;
    
        path {
            stroke-linecap: round;
        }
    
        circle {
            transform: translate(-50%, -50%);
        }
    }
}
