.hero-section {
    min-height: 100vh;
    padding: 6rem 2rem;
    //   background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    position: relative;
    /* add an absolute gradient background if you want */
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, #0f172a, #0f172a, #1e293b);
        opacity: 0; /* start hidden */
        z-index: 0;
        transition: opacity 2s ease;
    }

    &.gradient-visible::before {
        opacity: 1;
    }

    .hero-content {
        margin-top: 5rem;
        margin-bottom: 2rem;
        position: relative;
        z-index: 2;

        h1 {
            font-size: 3rem;
            font-family: "Hanken Grotesk", sans-serif;
        }

        p {
            margin-top: 1rem;
            font-family: "Be Vietnam Pro", sans-serif;
            font-size: 1.25rem;
        }
    }

    .hero-slider {
        width: 100%;
        max-width: 1000px;
        position: relative;
        z-index: 2;

        img {
            width: 100%;
            height: 450px;
            object-fit: cover;
            border-radius: 0.5rem;
            transition: opacity 1s ease;
        }

        .swiper-pagination {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 10px;
            width: max-content;
            z-index: 3;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            background: white;
            opacity: 0.5;
            transition: opacity 0.3s ease;
        }

        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }

    .scroll-indicator {
        margin-top: 2rem;
        z-index: 2;

        a {
            display: inline-block;
            cursor: pointer;
            transition: transform 0.3s ease;

            svg {
                width: 32px;
                height: 32px;
                fill: white;
            }

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .hero-path {
        position: absolute;
        bottom: 20rem; 
        left: 0;
        width: 100%;
        height: 200px;
        z-index: 0; 
        pointer-events: none;
    }
}
