.home-hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: #fff;

  .embla {
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .embla__container {
    display: flex;
    height: 100%;
  }

  .embla__slide {
    flex: 0 0 100%;
    position: relative;
    height: 100%;
  }

  .embla__slide__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(10, 30, 60, 0.6), rgba(10, 30, 60, 0.6));
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding-left: 12rem;
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeSlideDown 2s ease-in-out forwards;
    text-align: left;

    h1 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 1rem;
      font-family: "Hanken Grotesk", sans-serif;
    }

    p {
      font-size: 21px;
      font-weight: 400;
      line-height: 1.3;
      margin-top: 20px;
    }
    .home-btn {
      margin-top: 20px;
      padding: 13px 23px;
      background-color: #f17006;
      color: #fff;
      border: none;
      border-radius: 999px;
      cursor: pointer;
      font-size: 19px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        transition: all 0.3s ease;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 10px;
    z-index: 3;
    align-items: center;
    left: 50%;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        background: #fff;
      }
    }
  }

  @keyframes fadeSlideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
