@import "../abstracts/variables";
.navbar {
    font-family: $font-inter;
    font-weight: 700;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    background-color: transparent;
    color: white;
    transition: all 0.3s ease-in-out;
    padding-top: 20px;

    &.scrolled {
        background-color: rgb(15, 23, 42);
        color: white;
        // padding: 5px 10rem 6px 10rem;
        padding-top: 10px;
        margin-top: 0;
        // padding: 1rem 3rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        transition: all 0.55s ease-in-out;
    }

    &__logo {
        max-width: 260px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 4rem;
        list-style: none;
        font-weight: 600;
        // border: 2px red solid;
        margin: 0;

        .navbar__item {
            position: relative;

            a {
                text-decoration: none;
                color: inherit;
                font-size: 1.1rem;
                transition: color 0.3s ease;
            }
            &.active a {
                font-weight: 700;
                transition: all 0.3s ease;
            }
            &.hovered {
                // font-weight: 600;
                transition: all 0.5s ease;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: -6px;
                left: 50%;
                transform: translateX(-50%) scale(0.6);
                width: 40px;
                height: 2px;
                border-radius: 10px;
                background-color: #f17006;
                opacity: 0;
                transition: opacity 0.3s ease, transform 0.3s ease;
                pointer-events: none;
            }

            &.active::after,
            &.hovered::after {
                transform: translateX(-50%) scale(1);
                opacity: 1;
                transition: opacity 0.3s ease, transform 0.3s ease;
            }

            &.navbar__contact a {
                padding: 0.4rem 1.9rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                background-color: hsl(27, 95%, 48%);
                font-weight: 800;
                color: black;
                border: 2px solid transparent;
                transition: all 0.3s ease;
                // display: inline-block;

                &:hover {
                    background-color: transparent;
                    box-sizing: border-box;
                    border: 2px solid white;
                    color: white;
                    // transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}
// @media (min-width: 1024px) {
//   .navbar {
//     border: 2px red solid;
//       // padding: 20px 2rem 6px 2rem;
//       gap: 0;
//       justify-content: space-around;
//       &__logo {
//           width: 12rem;
//           border: 2px red solid;
//           height: auto;
//       }
//       &__links {
//         border: 2px red solid;
//         // border: 2px red solid;
//         width: fit-content;
//           gap: 0rem;
//           .navbar__item {
//             a{
//               font-size: 0.9rem;
//             }

//               width: 7rem;

//               &.navbar__contact a {
//                   font-size: 0.8rem;
//                   width: 8.5rem;
//               }
//           }
//       }
//   }
// }

// @media (min-width: 1200px) {
//     .navbar {
//         // padding: 20px 5rem 6px 5rem;
//         &__logo {
//             max-width: 12rem;
//             height: auto;
//         }
//         &__links {
//             gap: 0rem;
//             .navbar__item {
//                 // border: 2px red solid;
//                 width: 7rem;

//                 &.navbar__contact a {
//                     font-size: 1.1rem;
//                     width: 10rem;
//                 }
//             }
//         }
//     }
// }


@media (min-width: 1440px) {
    .navbar {
        &__logo{
            width: 12rem;
            img {
                width: 100%;
                height: 100%;
                // object-fit: cover;
                // display: block;
            }
        }
        &__links {
            .navbar__item{

                a {
                    font-size: 1.1rem;
                }
            }
            .navbar__item {
                &.navbar__contact a {
                    font-size: 1.1rem;
                    width: 10rem;
                }
            }
        }
    }
}


@media (min-width: 2040px) {
    .navbar {
        &__logo{
            width: 17rem;
            img {
                width: 100%;
                height: 100%;
                // object-fit: cover;
                // display: block;
            }
        }
        &__links {
            .navbar__item{

                a {
                    font-size: 2rem;
                }
            }
            .navbar__item {
                &.navbar__contact a {
                    font-size: 2rem;
                    width: 16rem;
                }
            }
        }
    }
}
