@import "../../abstracts/variables";

.core-services-section {
  padding: 4rem 2rem;

  .title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
    font-family: $font-inter;

    .highlight {
      color: #f17006;
    }

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1200px) {
      font-size: 3rem;
    }
  }

  .services-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 2.5rem;
    }

    .service-card {
      background: #fff;
      border-radius: 12px;
      padding: 2rem 1.5rem;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
      text-align: left; // left-aligned content
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .icon {
        color: #f17006;
      }

      h3 {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        @media (min-width: 768px) {
          font-size: 1.5rem;
        }

        @media (min-width: 1200px) {
          font-size: 1.85rem;
        }
        @media (min-width: 1440x) {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        color: #444;
        @media (min-width: 768px) {
          font-size: 1.15rem;
        }

        @media (min-width: 1200px) {
          font-size: 1.2rem;
        }
        @media (min-width: 1440x) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
