@import "../../abstracts/variables";

.hero-solutions {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  .background {
    position: absolute;
    inset: 0;
    z-index: 0;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.4);
    }
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(10, 30, 60, 0.7), rgba(10, 30, 60, 0.7));
    z-index: 1;
  }

  .hero-text {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: $font-inter;
    max-width: 800px;
    line-height: 1.3;
    padding: 1rem;

    .highlight {
      color: #f17006;
    }

    @media (min-width: 768px) {
      font-size: 2rem;
    }

    @media (min-width: 992px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1440px) {
      font-size: 3rem;
    }
  }

  // L-shape corners
  .corner {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 2;
    border: 3px solid #fff;

    @media (min-width: 768px) {
      width: 90px;
      height: 90px;
      border-width: 3px;
    }

    @media (min-width: 1200px) {
      width: 120px;
      height: 120px;
      border-width: 4px;
    }

    @media (min-width: 1440px) {
      width: 129px;
      height: 129px;
      border-width: 4px;
    }
  }

  .corner-left {
    top: 33%;
    left: 5%;
    border-right: none;
    border-bottom: none;

    @media (min-width: 500px) {
      top: 30%;
      left: 15%;
    }
    @media (min-width: 992px) {
      top: 25%;
      left: 18%;
    }
    @media (min-width: 1440px) {
      top: 10rem;
      left: 15rem;
    }
  }

  .corner-right {
    bottom: 30%;
    right: 5%;
    border-left: none;
    border-top: none;

    @media (min-width: 500px) {
      bottom: 30%;
      right: 15%;
    }
    @media (min-width: 992px) {
      bottom: 20%;
      right: 18%;
    }
    @media (min-width: 1440px) {
      bottom: 8rem;
      right: 15rem;
    }
  }
}
