@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "./abstracts/variables";
@import "./abstracts/mixin";
@import "./abstracts/functions";
@import "./base/reset";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";

html {
    scroll-behavior: smooth;
}
