@import "../../abstracts/functions";

.hero-section {
  position: relative;
  background: url("/images/careerHero.jpg") no-repeat center top / cover;
  color: white;
  height: 280px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .overlay {
    position: absolute;
    inset: 0;
    background: #000820cc;
    opacity: 0.85;
    z-index: 1;
  }

  .hero-content {
    position: relative;
    z-index: 2;

    h1 {
      font-size: px-to-rem(24);
      font-weight: 700;
      margin-bottom: 0.75rem;

      span {
        color: #f17006;
      }
    }

    .subtitle {
      font-size: px-to-rem(14);
      font-weight: 600;
      line-height: 1.4;
      margin: 0;
      color: #ffffff;
    }
  }
}

@media screen and (min-width: 481px) {
  .hero-section {
    height: 320px;

    .hero-content {
      h1 {
        font-size: px-to-rem(28);
      }
      .subtitle {
        font-size: px-to-rem(16);
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    height: 360px;

    .hero-content {
      h1 {
        font-size: px-to-rem(32);
      }
      .subtitle {
        font-size: px-to-rem(18);
      }
    }
  }
}

@media screen and (min-width: 993px) {
  .hero-section {
    height: 400px;

    .hero-content {
      h1 {
        font-size: px-to-rem(36);
      }
      .subtitle {
        font-size: px-to-rem(20);
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero-section {
    height: 457px;

    .hero-content {
      max-width: 710px;

      h1 {
        font-size: px-to-rem(42);
      }
      .subtitle {
        font-size: px-to-rem(24);
      }
    }
  }
}
