@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;800&family=Hanken+Grotesk:wght@400;700&display=swap');

body {
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: 1.5;
  color: $text-color;
}

h1, h2, h3 {
  font-weight: 600;
  line-height: 1.2;
}