@import "../../abstracts/variables";

.hero-wrapper {
    position: relative; // needed for absolute positioning
    max-height: 90vh;

    .background {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        img {
            height: 90vh;
            width: 100%;
            object-fit: cover;
            filter: brightness(0.3);
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            background-color: #0e12477c;
            height: 90vh;
            width: 100%;
            z-index: 1;
        }
    }

    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 2; 
        font-family: $font-space-grotesk;

        h1 {
            font-size: 3rem;
            font-weight: 900;
            color: white;
        }

        span {
            color: #f17006;
        }
    }
}
// @media (max-width: 576px) { }

// @media (min-width: 576px) and (max-width: 767px) { }

// @media (min-width: 768px) and (max-width: 991px) { }

// @media (min-width: 992px) and (max-width: 1199px) { }

// @media (min-width: 1200px) { }

// @media (min-width: 1440px) { }

@media (max-width: 576px) {
    .hero-wrapper {
        max-width: 100vw;
        .hero-content {
            width: 90%;
            // border: 2px red solid;
            h1 {
                font-size: 2rem;
                // line-height: 2.4rem;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hero-wrapper {
        .hero-content {
            width: 90%;
            h1 {
                font-size: 2.4rem;
                line-height: 2.8rem;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hero-wrapper {
        .hero-content {
            width: 90%;
            h1 {
                font-size: 2.8rem;
                line-height: 3.2rem;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hero-wrapper {
        .hero-content {
            h1 {
                font-size: 3rem;
                line-height: 3.4rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .hero-wrapper {
        .hero-content {
            h1 {
                font-size: 3.2rem;
                line-height: 3.6rem;
            }
        }
    }
}

@media (min-width: 1440px) {
    .hero-wrapper {
        .hero-content {
            h1 {
                font-size: 3.6rem;
                line-height: 4rem;
            }
        }
    }
}