@import "../../abstracts/variables";

.about-hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;

  .embla {
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .embla__container {
    display: flex;
    height: 100%;
  }

  .embla__slide {
    flex: 0 0 100%;
    position: relative;
    height: 100%;
  }

  .embla__slide__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(10, 30, 60, 0.8), rgba(10, 30, 60, 0.8));
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 55%;
    padding: 0 1rem;
    font-family: $font-inter;
    overflow: hidden; // mask the scrolling text
    // height: 40vh; // limit visible area for credits

    .scroll-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      will-change: transform;
    }

    h1 {
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 1rem;
      margin-top: 2rem;

      span {
        color: #f17006;
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3;
    }
  }

  .dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    gap: 10px;
    z-index: 3;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.5);
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        background: #fff;
      }
    }
  }
}
