@import "../../abstracts/variables";


.differentiators-section {
  // padding: 6.5rem 13rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  text-align: center;
  background-color: #0f172a;

  .heading {
    max-width: 800px;
    margin: 0 auto 5rem;
    opacity: 0;
    transform: translateY(40px);
    transition: all 3s ease;
    // border: 3px red solid;

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }

    h1 {
      font-size: 2.5rem;
      // margin-bottom: 1rem;
      font-family: $font-space-grotesk;
      color: #f5f8ff;
      text-transform: uppercase;
      letter-spacing: 1px;
      span{
        color: #ef6f06;
      }
    }


  }

  .card-grid {
    // border: 2px red solid;
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
    justify-content: center;
    // margin-top: 0rem;
  }

  .card {
    background: linear-gradient(to top, #0a0f1e, #0f172a, #1e293b);
    border: 1px solid #1e293b;
    padding: 3rem 2.5rem;
    border-radius: 5rem 0 5rem 0;
    transition: all 0.4s ease;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 30rem;
    box-shadow: 0 0 0 transparent;

    .icon {
      font-size: 2.5rem;
      margin-bottom: 0.95rem;

      &-orange {
        color: #ff5c33;
      }
      &-purple {
        color: #b366ff;
      }
      &-green {
        color: #33cc99;
      }
      &-yellow {
        color: #ffc107;
      }
    }

    .icon-bg {
      position: absolute;
      bottom: -1rem;
      right: 0.5rem;
      font-size: 5rem;
      opacity: 0;
      filter: blur(4px);
      transform: scale(0.85);
      pointer-events: none;
      transition: opacity 0.5s ease, transform 0.5s ease;
      z-index: 0;
    }

    &:hover .icon-bg {
      opacity: 0.12;
      transform: scale(1.6);
    }

    .icon,
    h3,
    p {
      position: relative;
      z-index: 1;
    }

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.85rem;
      color: #fff;
    }

    p {
      font-size: 1.1rem;
      color: #ccc;
      line-height: 1.75;
    }

    // Color variations on hover
    &.orange:hover {
      border-color: #ff5c33;
      background: radial-gradient(circle at bottom right, #330000, #111);
    }

    &.purple:hover {
      border-color: #b366ff;
      background: radial-gradient(circle at bottom right, #1a0033, #111);
    }

    &.green:hover {
      border-color: #33cc99;
      background: radial-gradient(circle at bottom right, #003326, #111);
    }

    &.yellow:hover {
      border-color: #ffc107;
      background: radial-gradient(circle at bottom right, #332600, #111);
    }
  }
}
