.about-hero {
  position: relative;
  height: 80vh;
  background: url("/images/about-hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(10, 30, 60, 0.6), rgba(10, 30, 60, 0.6));
    z-index: 1;
  }

  .content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 0 1rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeSlideDown 2s ease-in-out forwards;
  }

  h1 {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: "Hanken Grotesk", sans-serif;
  }

  p {
    font-size: 21px;
    max-width: 960px;
    font-weight: 400;
    line-height: 1.3;
    margin: 20px auto 0;
  }

  @keyframes fadeSlideDown {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
