.differentiators-section {
  margin-top: 10rem;
  padding: 4rem 13rem 6rem 13rem;
  // background: radial-gradient(
  //   ellipse at center top,
  //   rgba(30, 41, 59, 0.9) 0%,
  //   rgba(15, 23, 42, 1) 40%,
  //   #0a0f1e 100%
  // );

  color: #003326;
  border-radius: 40px;
  text-align: center;
  background-color: #fff;
  .heading {
    max-width: 800px;
    margin: 0 auto 8rem;

    h4 {
      font-size: 1rem;
      margin-bottom: 1rem;
      font-family: "Hanken Grotesk", sans-serif;
    }

    h2 {
      font-size: 1.8rem;
      line-height: 1.4;
      font-family: "Hanken Grotesk", sans-serif;
    }
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    margin-top: 4rem;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .card {
    background: linear-gradient(to top, #0a0f1e, #0f172a, #1e293b);

    border: 1px solid #1e293b;
    padding: 3rem 2.5rem;
    border-radius: 1rem;
    transition: all 0.4s ease;
    text-align: left;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0 transparent;
    position: relative;

    .icon {
      font-size: 2.5rem;
      margin-bottom: 0.95rem;
      &-orange {
        color: #ff5c33;
      }
      &-purple {
        color: #b366ff;
      }
      &-green {
        color: #33cc99;
      }
      &-yellow {
        color: #ffc107;
      }
    }
    .icon-bg {
      position: absolute;
      bottom: -1rem;
      right: 0.5rem;
      font-size: 5rem;
      opacity: 0;
      filter: blur(4px);
      transform: scale(0.85);
      pointer-events: none;
      transition: opacity 0.5s ease, transform 0.5s ease;
      z-index: 0;
    }

    &:hover .icon-bg {
      opacity: 0.12;
      transform: scale(1.6);
    }

    .icon,
    h3,
    p {
      position: relative;
      z-index: 1;
    }

    .icon-bg.icon-orange {
      color: #ff5c33;
    }
    .icon-bg.icon-purple {
      color: #b366ff;
    }
    .icon-bg.icon-green {
      color: #33cc99;
    }
    .icon-bg.icon-yellow {
      color: #ffc107;
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.85rem;
      color: #fff;
    }

    p {
      font-size: 0.9rem;
      color: #ccc;
      line-height: 1.75;
    }

    &.orange:hover {
      border-color: #ff5c33;
      background: radial-gradient(circle at bottom right, #330000, #111);
    }

    &.purple:hover {
      border-color: #b366ff;
      background: radial-gradient(circle at bottom right, #1a0033, #111);
    }

    &.green:hover {
      border-color: #33cc99;
      background: radial-gradient(circle at bottom right, #003326, #111);
    }

    &.yellow:hover {
      border-color: #ffc107;
      background: radial-gradient(circle at bottom right, #332600, #111);
    }
  }
}
