@import "../../abstracts/variables";

.build-with-us {
    text-align: center;
    padding: 40px 0px;
    background: #fff;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // gap: 1rem;

    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        font-family: $font-space-grotesk;
        margin-bottom: 15px;
        color: #000;
    }

    p {
        font-size: 1.6rem;
        font-weight: 700;
        font-family: $font-inter;
        color: #111;
        max-width: 60%;
        margin: 0 auto 20px;

        .highlight {
            color: #ff6600; // orange text
        }
    }

    .join-btn {
        position: relative;
        overflow: hidden;
        background-color: #ff6600;
        color: #fff;
        border: none;
        padding: 8px 45px;
        font-size: 1.3rem;
        font-weight: 600;
        border-radius: 8px;
        // border: 2px solid transparent;

        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: all 0.4s ease;

        .btn-text {
            display: inline-block;
            transition: all 0.3s ease;
        }

        .plane {
            position: absolute;
            right: -40px; 
            opacity: 0;
            transition: all 0.5s ease;
            font-size: 1.4rem;
        }

        &:hover {
            //   background-color: #e47712b4;
            background: linear-gradient(to right, #af2f2f, orange);
            border:none;
            box-shadow: 0px 2px 12px rgba(255, 136, 0, 0.493);

            .btn-text {
                opacity: 0; // hide text
                transform: translateX(-20px);
            }

            .plane {
                right: 45%; // move into button
                opacity: 1;
            }
        }
    }
}
