.ourTeamSection {
  padding: 5rem 1rem;
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  border-top: 1px solid #e5e7eb;
  .teamTitle,
  .teamSubtitle {
    opacity: 0;
    transform: translateY(30px);
    transition: all 3s ease;
  }

  &.animate {
    .teamTitle,
    .teamSubtitle {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .teamTitle {
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: "Hanken Grotesk", sans-serif;
    color: #1e293b;
  }

  .teamSubtitle {
    color: #1e293b;
    max-width: 800px;
    margin: 0 auto 3rem auto;
    font-size: 1.8rem;
    line-height: 1.4;
    font-family: "Hanken Grotesk", sans-serif;
  }

  .teamCards {
    display: flex;
    gap: 5rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flipCard {
    position: relative;
    width: 300px;
    height: 380px;
    perspective: 1200px;
  }

  .flipInner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1.5s ease;
  }
  .flipCard:hover .flipInner:hover {
    pointer-events: auto;
  }
  .flipCard:hover .flipInner {
    transform: rotateY(180deg) scale(1.03) translateY(-10px);
    z-index: 2;
  }

  .flipFront,
  .flipBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .flipFront {
    background-size: cover;
    background-position: center;

    .overlay {
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.5),
        transparent
      );
      color: #fff;
      padding: 1.5rem 1rem;
      width: 100%;
      position: absolute;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

      h3 {
        margin-bottom: 0.3rem;
        font-size: 1.3rem;
      }

      p {
        font-size: 0.95rem;
        color: #f3f4f6;
      }
    }
  }

  .flipBack {
    background: linear-gradient(to top, #0a0f1e, #0f172a, #1e293b);
    transform: rotateY(180deg);
    padding: 3rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    color: #f3f4f6;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 0.3rem;
    }

    .profession {
      font-size: 1rem;
      color: #f97316;
      margin-bottom: 1rem;
    }

    .bio {
      font-size: 0.9rem;
      line-height: 1.4;
      text-align: center;
    }
    .contactIcons {
      display: flex;
      gap: 1.5rem;
      margin-top: 1.5rem;

      a {
        color: #f97316;
        font-size: 1.5rem;
        transition: color 0.3s ease;

        &:hover {
          color: #ff5c33;
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }
    }
  }
}
