.statsSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 2rem;
  background: #ffffff;
  border-top: 1px solid #d1e7fd;
  border-bottom: 1px solid #d1e7fd;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 8px rgba(0, 0, 0, 0.1);

  .statBox {
    text-align: center;
    padding: 1rem;

    .icon {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
      color: rgb(15, 23, 42);
    }

    .number {
      font-size: 2rem;
      color: #1e293b;
      font-weight: bold;
    }

    .label {
      font-size: 1rem;
      color: #333;
      margin-top: 0.5rem;
    }
  }
}
