.statsSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem 2rem;
  background: #fff;

  .statBox {
    text-align: center;
    padding: 1rem;

    .icon {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    .number {
      font-size: 2rem;
      color: #1e293b;
      font-weight: bold;
    }

    .label {
      font-size: 1rem;
      color: #333;
      margin-top: 0.5rem;
    }
  }
}
