@import "../../abstracts/variables";
@media (min-width: 890px) {
  .proven-process-section {
    padding: 4rem 8rem;
    background: #0a1128;
    color: #fff;
    text-align: left;
    height: 700px;

    .section-title {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0.85rem;

      .highlight {
        color: #ff7a00;
      }
    }

    .subtitle {
      font-size: 1.5rem;
      margin-bottom: 12rem;
      color: #cbd5e1;
    }

    .process-flow {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    .process-step-wrapper {
      position: relative;
      width: 200px;

      &:not(:first-child) {
        margin-left: 5px;
      }

      .process-step {
        width: 200px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%);
        color: #000820;
        font-size: 1.8rem;
      }

      .step-info {
        width: 350px;
        background: transparent;
        border: 1px solid #818181;
        padding: 1rem;
        border-radius: 4px;
        text-align: left;
        position: absolute;

        .step-title {
          font-weight: 600;
          font-size: 1rem;
          margin-bottom: 0.4rem;
        }

        .step-desc {
          font-size: 0.85rem;
          color: #cbd5e1;
        }

        &.top {
          bottom: 170px;
          left: 10%;
          transform: translateX(-50%);
          @media (min-width: 1250px) {
            bottom: 170px;
            left: 80%;
            transform: translateX(-50%);
          }

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 70%;
            transform: translateX(-50%);
            transform: rotate(-15deg);
            width: 2px;
            height: 55px;
            background: #fff;
            @media (min-width: 1250px) {
              left: 30%;
              transform: translateX(-50%);
              transform: rotate(15deg);
            }
          }
        }

        &.bottom {
          top: 170px;
          left: 50%;
          transform: translateX(-20%);
          @media (min-width: 1250px) {
            top: 170px;
            left: 2%;
            transform: translateX(-50%);
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 20%;
            transform: translateX(-50%);
            transform: rotate(-20deg);
            width: 2px;
            height: 53px;
            background: #fff;
            @media (min-width: 1250px) {
              left: 70%;
              transform: translateX(-50%);
              transform: rotate(20deg);
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1440px) {
  .proven-process-section {
    padding: 4rem 8rem;
    background: #0a1128;
    color: #fff;
    text-align: left;
    height: 980px;

    .section-title {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 0.85rem;

      .highlight {
        color: #ff7a00;
      }
    }

    .subtitle {
      font-size: 1.5rem;
      margin-bottom: 19rem;
      color: #ffffff;
    }

    .process-flow {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    .process-step-wrapper {
      position: relative;
      width: 280px;

      &:not(:first-child) {
        margin-left: 5px;
      }

      .process-step {
        width: 280px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%, 15% 50%);
        color: #000820;
        font-size: 70px;
      }

      .step-info {
        width: 400px;
        background: transparent;
        padding: 1rem;
        border-radius: 4px;
        border: 1px solid #818181;
        text-align: left;
        position: absolute;

        .step-title {
          font-weight: 600;
          font-size: 1.85rem;
          margin-bottom: 0.8rem;
        }

        .step-desc {
          font-size: 1.25rem;
        }

        &.top {
          bottom: 250px;
          left: 60%;
          transform: translateX(-60%);

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            transform: rotate(-15deg);
            width: 2px;
            height: 75px;
            background: #fff;
          }
        }

        &.bottom {
          top: 250px;
          left: 15%;
          transform: translateX(-40%);

          &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            transform: rotate(20deg);
            width: 2px;
            height: 75px;
            background: #fff;
          }
        }
      }
    }
  }
}
