@import "../../abstracts/variables";

.solutions-section {
  padding: 4rem 2rem;
  background: #f9fafc;

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: #0a1e3c;
    font-family: $font-inter;
    text-align: center;
    margin-bottom: 2rem;

    .highlight {
      color: #f17006;
    }

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1200px) {
      font-size: 3rem;
    }
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .card {
      background: #fff;
      border-radius: 12px;
      padding: 1.5rem;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
      text-align: left;

      h3 {
        font-size: 1.25rem;
        font-weight: 600;
        color: #0a1e3c;
        margin-bottom: 0.8rem;
        .half-black {
          color: #0a1e3c; // first half color
        }

        .half-red {
          color: #f17006; // second half color
        }
        @media (min-width: 768px) {
          font-size: 1.5rem;
        }

        @media (min-width: 1200px) {
          font-size: 1.85rem;
        }
        @media (min-width: 1440x) {
          font-size: 2.5rem;
        }
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        color: #444;
        @media (min-width: 768px) {
          font-size: 1.15rem;
        }

        @media (min-width: 1200px) {
          font-size: 1.2rem;
        }
        @media (min-width: 1440x) {
          font-size: 1.5rem;
        }
      }
    }
  }

  // Desktop layout
  @media (min-width: 992px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 2rem;

      .card:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
      } // top-left
      .card:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
      } // top-right
      .title {
        grid-column: 1 / span 2;
        grid-row: 2;
      } // full-width title
      .card:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
      } // bottom-left
      .card:nth-child(4) {
        grid-column: 2;
        grid-row: 3;
      } // bottom-right
    }
  }
}
