@import "../../../abstracts/variables";

/* Global section heading */
section h2 {
  font-size: 2rem; // smaller for mobile
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: center;
  font-family: $font-inter;

  .highlight {
    color: #f17006;
  }
}

.knowledge-hub-section {
  padding: 3rem 1.5rem;
  .knowledge-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .card {
      width: 100%;
      padding: 1.5rem;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-align: left;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }

      .card-header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.5rem;

        .icon {
          font-size: 2rem;
        }

        .resources {
          font-size: 0.9rem;
          font-weight: 400;
          background: #e2e2e2;
          padding: 0.4rem 0.8rem;
          border-radius: 20px;
          -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
          width: 140px;
          margin-bottom: -0.5rem;
          color: #000820;
        }
      }

      h3 {
        font-size: 1.1rem;
        font-weight: 700;
        font-family: $font-inter;
      }

      .desc {
        font-size: 0.9rem;
        font-family: $font-inter;
        line-height: 1.4;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.92);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;

        li {
          background: #e2e2e2;
          color: #000820;
          padding: 0.4rem 0.8rem;
          border-radius: 20px;
          font-size: 0.9rem;
          font-weight: 600;
          white-space: nowrap;
          text-transform: lowercase;
        }
      }

      button {
        padding: 0.4rem 0.75rem;
        border: none;
        border-radius: 0.25rem;
        font-weight: 700;
        cursor: pointer;
        background: #37bf5b;
        color: #ffffff;
        transition: 0.25s;
        font-size: 0.9rem;
        width: fit-content;

        &:hover {
          background: #ffffff;
          color: #000000;
        }
      }
    }
  }
}

/* Tablet */
@media (min-width: 768px) {
  section h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }

  .knowledge-hub-section {
    padding: 4rem 2rem;

    .knowledge-cards {
      gap: 1.25rem;

      .card {
        width: 48%;
        padding: 1.8rem;
        min-height: 500px;

        .card-header {
          gap: 2rem;

          .icon {
            font-size: 2.5rem;
          }

          .resources {
            width: 150px;
          }
        }

        h3 {
          font-size: 1.2rem;
        }

        .desc {
          font-size: 1rem;
        }

        ul li {
          font-size: 1rem;
        }

        button {
          font-size: 1rem;
        }
      }
    }
  }
}

/* Desktop */
@media (min-width: 1024px) {
  section h2 {
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
  }

  .knowledge-hub-section {
    padding: 5rem 4rem;

    .knowledge-cards {
      gap: 1.5rem;

      .card {
        width: 380px;
        min-height: 520px;
        padding: 2rem;

        .card-header {
          .icon {
            font-size: 3rem;
          }

          .resources {
            width: 157px;
          }
        }

        h3 {
          font-size: 1.25rem;
        }

        .desc {
          font-size: 1rem;
        }

        ul li {
          font-size: 1rem;
        }

        button {
          font-size: 1rem;
        }
      }
    }
  }
}

/* Large Screens */
@media (min-width: 1920px) {
  section h2 {
    font-size: 2.8rem;
    margin-bottom: 4rem;
  }

  .knowledge-hub-section {
    padding: 5rem 10.5rem;

    .knowledge-cards {
      gap: 1.5rem;

      .card {
        width: 388px;
        min-height: 522px;
        padding: 2rem;

        .card-header {
          gap: 3rem;

          .icon {
            font-size: 3rem;
          }

          .resources {
            width: 157px;
          }
        }

        h3 {
          font-size: 1.25rem;
        }

        .desc {
          font-size: 1rem;
        }

        ul li {
          font-size: 1rem;
        }

        button {
          font-size: 1rem;
        }
      }
    }
  }
}
