@import "../../abstracts/variables";
.enterprise-section {
    max-width: 100vw;
    height: 75vh;
    padding: 5rem 8rem;
    gap: 2rem;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        flex: 1;
        // border: 2px red solid;
        h4 {
            font-family: $font-space-grotesk;
            font-size: 2.1rem;
            font-weight: 600;
            color: #000f2e;
        }

        h2 {
            font-family: $font-space-grotesk;
            font-size: 3.2rem;
            font-weight: 700;
            color: #eb6600;
            margin-top: 0.3rem;
            margin-bottom: 2.2rem;
        }

        p {
            font-family: $font-inter;
            font-size: 1.8rem;
            width: 90%;
            font-weight: 700;
            color: #1a1a1a;
        }
    }

    .carousel-wrapper {
        width: 50%;
        flex: 1.2;
        position: relative;
        min-width: 0;
        margin-right: 4rem;

        .embla {
            height: 100%;
            overflow: hidden;
            width: 100%;
        }

        .embla__container {
            height: 100%;
            display: flex;
            gap: 1rem;
        }

        .embla__slide {
            flex: 0 0 48%;
            min-width: 0;
            max-width: 400px;
        }

        .card {
            height: 100%;
            background: #fff;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            img {
                width: 100%;
                height: 18rem;
                object-fit: cover;
            }

            h3 {
                font-family: $font-space-grotesk;
                font-size: 1.4rem;
                font-weight: 700;
                text-decoration: underline;
                margin: 1rem;
                color: #000f2e;
            }

            p {
                font-family: $font-inter;
                font-size: 1rem;
                font-weight: 500;
                color: #333;
                margin: 1rem 1rem 1rem;
                margin-top: 1rem;
            }

            &:hover {
                transform: translateY(-5px);
            }
        }

        .carousel-btn {
            position: absolute;
            top: 40%;
            transform: translateY(-50%);
            // border: 2px red solid;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            border: none;
            padding: 0.8rem;
            font-size: 1.2rem;
            border-radius: 50%;
            cursor: pointer;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
            z-index: 10;

            &:hover {
                transform: scale(1.2);
                animation: none !important;
            }

            &.left {
                left: -5rem;

                &.animate {
                    animation: pulse 1.5s infinite ease-in-out;
                }
            }

            &.right {
                right: -5rem;
                &.animate {
                    animation: pulse 1.5s infinite ease-in-out;
                }
            }
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.15);
            }
            100% {
                transform: scale(1);
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .content-left {
            text-align: center;
        }

        .carousel-wrapper {
            .embla__slide {
                flex: 0 0 85%;
            }

            .carousel-btn.left,
            .carousel-btn.right {
                // display: none;
            }
        }
    }
}
@media (max-width: 576px) {
    .enterprise-section {
        height: 85vh;
        padding: 0;
        // flex-direction: column;
        .content-left {
            max-width: 100%;
            // border: 2px rgb(157, 255, 0) solid;
            align-items: center;
            h4 {
                font-size: 2.2rem;
            }
            h2 {
                font-size: 2.2rem;
                margin-top: 0.1rem;
                margin-bottom: 1.2rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        padding-bottom: 2rem;
        .carousel-wrapper {
            flex: none;

            width: 60%;
            // height: fit-content;
            // border: 2px red solid;
            margin: 0;
            .embla__container {
                // gap: 0.5rem;
                gap: 1rem;
            }
            .card {
                margin-left: 1.5rem;
                // border: 2px red solid;
                height: 100%;
                width: 300px;
                img {
                    height: 50%;
                }
                h3 {
                    margin: 1rem;
                    font-size: 1.1rem;
                    // margin: 0;
                }
                p {
                    margin-top: 0;
                    font-size: 1rem;
                }
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .enterprise-section {
        height: 85vh;
        padding: 0;
        // flex-direction: column;
        .content-left {
            max-width: 100%;
            // border: 2px rgb(157, 255, 0) solid;
            align-items: center;
            h4 {
                font-size: 2.2rem;
            }
            h2 {
                font-size: 2.2rem;
                margin-top: 0.1rem;
                margin-bottom: 1.2rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        padding-bottom: 2rem;
        .carousel-wrapper {
            flex: none;
            width: 60%;
            margin: 0;
            .embla__container {
                // gap: 0.5rem;
                gap: 1rem;
            }
            .embla__slide {
                flex: 0 0 100%;
                min-width: 0;
                max-width: 400px;
            }
            .card {
                margin-left: 3.8rem;
                height: 100%;
                width: 300px;
                img {
                    height: 50%;
                }
                h3 {
                    margin: 1rem;
                    font-size: 1.1rem;
                }
                p {
                    margin-top: 0;
                    font-size: 1rem;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .enterprise-section {
        padding: 2rem 4rem;
        gap: 0rem;
        .content-left {
            width: 50%;
            flex: none;
            h4 {
                font-size: 28px;
            }
            h2 {
                font-size: 36px;
                margin-bottom: 2.2rem;
            }
            p {
                font-size: 20px;
            }
        }
        .carousel-wrapper {
            height: 80%;
            .embla__slide {
                flex: 0 0 100%;
                min-width: 0;
                max-width: 400px;
            }
            .card {
                img {
                    width: 100%;
                    height: 45%;
                    object-fit: cover;
                }
                h3 {
                    font-size: 1.4rem;
                }
                p {
                    font-size: 1.1rem;
                }
            }
            .carousel-btn{
                &.left{
                    left: -4rem;
                }
                &.right{
                    right: -4rem;
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .enterprise-section {
        height: 65vh;
        padding: 2rem 4rem;
        gap: 0rem;
        .content-left {
            width: 40%;
            // flex: none;
            h4 {
                font-size: 28px;
            }
            h2 {
                font-size: 36px;
                margin-bottom: 2.2rem;
            }
            p {
                font-size: 20px;
            }
        }
        .carousel-wrapper {
            height: 80%;
            .embla__container {
                height: 100%;
                display: flex;
                gap: 1.5rem;
            }
            .embla__slide {
                flex: 0 0 46%;
                min-width: 0;
                max-width: 400px;
            }
            .card {
                img {
                    width: 100%;
                    height: 45%;
                    object-fit: cover;
                }
                h3 {
                    font-size: 1.4rem;
                }
                p {
                    font-size: 0.9rem;
                }
            }
            .carousel-btn{
                &.left{
                    left: -4rem;
                }
                &.right{
                    right: -4rem;
                }
            }
        }
    }
}
@media (min-width: 1200px) {
}
