@import "../../abstracts/variables";
.enterprise-section {
  height: 75vh;
  display: flex;
  padding: 5rem 8rem;
  gap: 2rem;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex: 1;
    h4 {
      font-family: $font-space-grotesk;
      font-size: 40px;
      font-weight: 600;
      color: #000f2e;
    }

    h2 {
      font-family: $font-space-grotesk;
      font-size: 64px;
      font-weight: 700;
      color: #eb6600;
      margin-top: 0.3rem;
      margin-bottom: 2.2rem;
    }

    p {
      font-family: $font-inter;
      font-size: 32px;
      width: 70%;
      font-weight: 700;
      color: #1a1a1a;
    }
  }

  .carousel-wrapper {
    width: 60%;
    flex: 1.2;
    position: relative;
    min-width: 0;
    margin-right: 4rem;

    .embla {
      height: 100%;
      overflow: hidden;
      width: 100%;
    }
    
    .embla__container {
      height: 100%;
      display: flex;
      gap: 2.1rem;
    }

    .embla__slide {
      flex: 0 0 65%;
      min-width: 0;
      max-width: 400px;
    }
    
    .card {
      height: 100%;
      background: #fff;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;

      img {
        width: 100%;
        height: 18rem;
        object-fit: cover;
      }

      h3 {
        font-family: $font-space-grotesk;
        font-size: 1.7rem;
        font-weight: 700;
        text-decoration: underline;
        margin: 1rem;
        color: #000f2e;
      }

      p {
        font-family: $font-inter;
        font-size: 1.2rem;
        font-weight: 500;
        color: #333;
        margin: 1rem 1rem 1rem;
        margin-top: 1.5rem;
      }

      &:hover {
        transform: translateY(-5px);
      }
    }

    .carousel-btn {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      // border: 2px red solid;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      border: none;
      padding: 0.8rem;
      font-size: 1.2rem;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
      z-index: 10;

      &:hover {
        transform: scale(1.2);
        animation: none !important;
      }

      &.left {
        left: -5rem;

        &.animate {
          animation: pulse 1.5s infinite ease-in-out;
        }
      }

      &.right {
        right: -5rem;
        &.animate {
          animation: pulse 1.5s infinite ease-in-out;
        }
      }
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.15);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;

    .content-left {
      text-align: center;
    }

    .carousel-wrapper {
      .embla__slide {
        flex: 0 0 85%;
      }

      .carousel-btn.left,
      .carousel-btn.right {
        display: none;
      }
    }
  }
}
