.features {
    padding: 4rem 2rem;
    text-align: center;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;

    .section-heading {
        max-width: 80%;
        margin: 0 auto 2rem;
        padding: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h2 {
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 1rem;
            span {
                color: #ff7a00; // orange highlight
            }
        }
        p {
            color: #000000;
            margin-top: 2rem;
            font-size: 1.5rem;
            width: 75%;
        }
    }

    .features-grid {
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 1.5rem;
    }
    
    .feature-card {
        height: 30rem;
        color: #fff;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 1.5rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
        
        &:hover{
           
            box-shadow: 2px 8px 20px rgba(36, 22, 96, 0.4);
        }
        h3 {
            margin-top: 1.8rem;
            font-size: 1.7rem;
            text-decoration: underline;
            margin-bottom: 0.5rem;
        }
        p {
            font-size:1.3rem;
            line-height: 1.5;
            text-align: center;
        }
    }
}
