@import '../../abstracts/variables';

.features {
    padding: 4rem 2rem;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #f1f1f1;

    .section-heading {
        max-width: 80%;
        margin: 0 auto 2rem;
        padding: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h2 {
            font-size: 64px;
           font-family: $font-space-grotesk; 
            font-weight: 700;
            margin-bottom: 1rem;
            span {
                color: #ff7a00; // orange highlight
            }
        }
        p {
            color: #000000;
            margin-top: 2rem;
            font-size: 26px;
            font-weight: 400;
            font-family: $font-inter;
            width: 75%;
        }
    }

    .features-grid {
        max-width: 85%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 1.5rem;
    }

    .feature-card {
        height: 30rem;
        color: #fff;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        padding: 1.5rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: translateX(-50rem);
            box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.829);
        }
        h3 {
            font-family: $font-space-grotesk;
            font-weight: 700;
            margin-top: 2rem;
            font-size: 32px;
            text-decoration: underline;
            margin-bottom: 0.5rem;
        }
        p {
            // font-size: 1.4rem;
            font-family: $font-inter;
            margin-top: 1rem;
            font-weight: 400;
            font-size: 26px;
            line-height: 1.5;
            text-align: center;
        }
    }
}
