@import "../../abstracts/functions";
@import "../../abstracts/variables";
.product-showcase {
    height: 150vh;
    background-color: #000820;
    padding: 114px 7.5rem 132px 7.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;

    .header {
        text-align: center;
        max-width: 1042px;
        margin: 0 auto 5rem;

        h2 {
            font-family: $font-space-grotesk;
            font-weight: 700;
            font-size: 64px;
            margin-bottom: 4rem;
        }

        p {
            font-family: $font-inter;
            font-weight: 400;
            font-size: 1.8rem;
        }
    }

    .card-layout {
        width: 85%;
        height: 70%;
        display: flex;
        gap: 2.7rem;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;

        .left-column {
            display: flex;
            flex-direction: column;
            gap: 2.8rem;
            width: 50%;
            height: 100%;
        }

        .card {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: relative;
            overflow: hidden;
            height: 100%;

            .card-text {
                padding: px-to-rem(47) 0;
                padding-left: px-to-rem(51);
                width: 50%;
                h3 {
                    font-family: $font-space-grotesk;
                    font-size: px-to-rem(33);
                    font-weight: 700;
                    margin-bottom: 0.9rem;
                }

                .tag,
                .tags .tag {
                    display: inline-block;
                    background: #ffffff;
                    padding: px-to-rem(10) px-to-rem(33);
                    font-size: 0.95rem;
                    font-family: $font-inter;
                    border-radius: px-to-rem(25);
                    border: 1px solid #8f8f8f91;
                    color: #000000;
                    margin-bottom: 1rem;
                }

                ul {
                    list-style: disc;
                    font-size: px-to-rem(16);
                    font-family: $font-inter;
                    width: 95%;
                    font-weight: 600;
                    padding-left: 2rem;
                }

                button {
                    background: #fff;
                    color: #000;
                    font-family: $font-inter;
                    padding: px-to-rem(11) px-to-rem(25);
                    font-size: px-to-rem(20);
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    align-items: center;
                    display: flex;
                    gap: 0.5rem;
                    margin-top: 2rem;
                    .arrow-icon {
                        font-size: 16px;
                        opacity: 0.7;
                        color: #000; // default color
                        transition: transform 0.3s ease, color 0.3s ease;
                        display: inline-block;
                    }
                    &:hover {
                        // transform: scale(2);
                        background-color: #fff4ec;
                        .arrow-icon {
                            transform: translateX(12px) scale(1.5);
                            color: #eb6600; // arrow icon color orange on hover
                            opacity: 1;
                        }
                    }
                }
            }

            .image-group {
                position: relative;
                min-height: 374px;
                display: flex;

                align-items: flex-end;
                justify-content: flex-end;
                width: 50%;

                img {
                    object-fit: cover;

                    border-radius: 0.5rem 0 0 0.5rem;
                }

                .img-back {
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    height: 50%;
                    object-position: left top;
                }

                .img-front {
                    position: absolute;
                    right: 0rem;
                    bottom: 40%;
                    width: 70%;
                    height: 50%;
                    z-index: 2;
                    object-position: left top;
                }
            }

            .image-single {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border-radius: 1rem;
                // border: 2px red solid;
                padding: 0 4rem px-to-rem(42) 4rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: right bottom;
                    border-radius: 1rem;
                    padding: 0;
                    display: block;
                }
            }
        }

        .smarthrms {
            background: linear-gradient(
                239.87deg,
                #c92c00 2.07%,
                #c8a700 78.14%
            );
            border-radius: 0 100px 0 100px;
            display: flex;
            flex-direction: row;
            gap: px-to-rem(19);
        }

        .fiscalmind {
            background: linear-gradient(
                239.87deg,
                #9f1d3b 2.07%,
                #4d79fd 78.14%
            );
            border-radius: 100px 0 100px 0;
            display: flex;
            flex-direction: row;
            gap: px-to-rem(19);
        }

        .skillmentor {
            flex: 1;
            background: linear-gradient(180deg, #37bf5b 0%, #b29fff 100%);
            border-radius: 100px 0 100px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .card-text {
                width: 100%;
                padding-right: px-to-rem(51);
            }
        }
    }
    .tags {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    @media (max-width: 900px) {
        .card-layout {
            flex-direction: column;
            align-items: center;

            .left-column {
                flex-direction: column;
            }

            .skillmentor {
                width: 100%;
                // border-radius: 2rem !important;
            }

            .card {
                width: 100%;
            }
        }
    }
}
@media (max-width: 576px) {
    .product-showcase {
        height: 200vh;
        justify-content: space-evenly;
        max-width: 100vw;
        // border: 2px red solid;
        padding: 0 2rem;
        .header {
            // border: 2px red solid;
            margin-bottom: 0;
            max-width: 90%;
            padding: 2px;
            h2 {
                font-size: 2.2rem;
                margin-bottom: 1.8rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
        .card-layout {
            height: 70%;
            width: 100%;
            // justify-content: space-evenly;
            // gap: 1px;
            // border: 2px green solid;
            .left-column {
                width: 90%;
                height: 50%;
            }
            .card {
                .card-text {
                    width: 100%;
                    padding: 1.5rem;
                    h3 {
                        font-size: px-to-rem(28);
                        margin-bottom: 0.5rem;
                    }
                    .tag,
                    .tags .tag {
                        padding: px-to-rem(5) px-to-rem(10);
                        font-size: 0.8rem;
                    }

                    ul {
                        font-size: 0.7rem;
                        width: 100%;
                        // border: 2px red solid;
                    }
                    button{
                        margin-top: 1.1rem;
                        font-size: px-to-rem(10);
                    }
                }
            }
            .smarthrms {
                border-radius: 0 20% 0 20%;
            }
            .fiscalmind {
                border-radius: 20% 0 20% 0;
            }
            .skillmentor {
                // width: 47%;
                border-radius: 0% 20% 0% 20%;
                // border: 2px rgb(232, 248, 8) solid;
                // border-radius: 0;
                width: 90%;
                // height: 80%;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width:1200px){
    
}
