@import "../../abstracts/variables";

.testimonial-slider {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  background: #fff;

  .slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .slider-track {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .slide {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
    box-sizing: border-box;
  }

  .testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .image-placeholder {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;
      background: #efefef;
      margin-right: 5rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .testimonial-content {
      // border: 2px red solid;
      height :85%;
      max-width: 50vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;

      .quote-icon {
        font-size: 2rem;
        color: #f9a825;
        margin-bottom: 0.5rem;
        
      }

      .quote {
        font-size: 1.4rem;
        font-family: $font-inter;
        color: #111;
        margin-bottom: 1.2rem;
        max-width: 80%;
        padding-left: 10%;
        // border: 2px red solid;
        width: 100%;
        text-align: center;
      }

      .testimonial-footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        text-align: left;

        .footer-content {
          .author {
            font-family: $font-space-grotesk;
            font-weight: 700;
            font-size: 1.6rem;
            color: #f9a825;
          }

          .meta {
            font-size: 1rem;
            font-weight: bold;

            .highlight {
              font-weight: bold;
              color: #000;
            }
          }
        }
      }
    }
  }

  .pagination {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #ccc;
      cursor: pointer;
      transition: background 0.3s;

      &.active {
        background: #f9a825;
      }
    }
  }
}
