.testimonial-slider {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;
    background: #fff;

    .slider-wrapper {
        display: flex;
        transition: transform 0.6s ease-in-out;
        height: 100%;
    }

    .testimonial {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100%;
        height: 100%;
        padding: 2rem 4rem;
        box-sizing: border-box;

        .image-placeholder {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            flex-shrink: 0;
            background: #efefef;
            margin-right: 5rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .testimonial-content {
            max-width: 50vw;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .quote-icon {
                font-size: 2rem;
                color: #f9a825;
                margin-bottom: 0.5rem;
            }

            .quote {
                font-size: 1.2rem;
                color: #111;
                margin-bottom: 1.2rem;
                max-width: 80%;
                padding-left: 2rem;
                text-align: center;
            }

            .testimonial-footer {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: end;
                text-align: left;
                .footer-content {
                    .author {
                        font-weight: 600;
                        font-size: 1.5rem;
                        color: #f9a825;
                    }

                    .meta {
                        font-size: 0.9rem;
                        font-weight: bold;

                        .highlight {
                            font-weight: bold;
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .pagination {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;

        .dot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #ccc;
            cursor: pointer;
            transition: background 0.3s;

            &.active {
                background: #f9a825;
            }
        }
    }
}
