@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 481px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 769px) {
      @content;
    }
  }
  @if $breakpoint == large {
    @media (min-width: 1025px) {
      @content;
    }
  }
}
