// Colors
$primary-color: #06f;
$primary-color-light: rgb(174, 201, 241);
$secondary-color: #e5e7eb;
$text-color: #0a0a0a;
$error-color: #e63946;
$border-color: #ccc;
$default-color: #ffffff;

//border colors
$border-color: #e5e7eb;
// Text colors
$text-primary: #0a0a0a;
$text-secondary: #6b7280;
$text-success: rgb(48, 163, 48);
$text-error: rgb(223, 95, 95);
$text-disabled: #9ca3af;

// Backgrounds
$bg-searchBar: #e7e7ee;
$bg-searchBtn: #ce9613;
$bg-default: #e5e7eb;
$bg-primary: #ffffff;
$bg-success: #b8f1d4;
$bg-error: #fccbcb;

// Typography
$font-stack: "Inter", sans-serif;
$base-font-size: 16px;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// Breakpoints
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;

// Borders
$border-radius-sm: 4px;
$border-radius-md: 8px;
$border-radius-lg: 16px;
$border-round: 50%;
